fastapi==0.111.1
uvicorn[standard]==0.23.2
sqlalchemy[asyncio]==2.0.23
asyncpg
psycopg2-binary==2.9.9
pgvector
openai==1.0.0
pydantic==2.9.0
pydantic-settings==2.0.3
python-dotenv==1.0.0
mutagen==1.46.0
python-multipart
alembic==1.12.1

# Testing
pytest==7.4.3
pytest-asyncio==0.21.1
httpx==0.25.2

